

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.container2{
  margin-top: 7%;
  text-align: center;
}

.btn {
  height: 100px;
  width: 200px;
  background-color: #4ECCA3;
  border-color: #232931;
  border-radius: 1rem;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  color: #393E46;
}

.btn:hover{
  /* color: #fff; */
  background-color: #52E6B3;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
